.search-container {
  
  .search-box {
    position: relative;
    &__items {
      position: sticky;
      top: 50px;
      width: 350px;
      margin: 0 auto;
      margin-top: 8rem;
      &-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5rem;
        background-color: white;
        input {
          outline: none;
          border: none;
          margin-left: 0.5rem;
          
          font-size: large;
        }
        .section1 {
          svg {
            fill: rgba(0, 0, 0, 0.7);
            font-size: large;
          }
        }
        .section2 {
          display: flex;
          gap: 10px;
          svg {
            font-size: large;
            stroke: rgb(0, 128, 255);
            &:nth-of-type(2) {
              fill: rgb(0, 128, 255);
            }
          }
        }
      }
      .languages {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 4px;
        font-size: 12px;
        color: white;
        span:not(:first-child):hover {
          text-decoration: underline;
        }
      }
    }
    .space {
      display: flex;
      height: 250px;
      justify-content: center;
      .question-container {
        margin-top: 1rem;
        padding: 2rem;
        transform: translateX(200px);
        border-radius: 8px;

        .question {
          width: 50px;
          height: 50px;
          padding: 8px;
          margin-top: 0.5rem;
          border-radius: 1rem;
          color: white;
          overflow: hidden;
          background-color: rgba(0, 0, 0, 0.4);
          svg {
            fill: white;
            font-size: 2rem;
            margin-right: 1rem;
          }
          transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:hover {
            display: flex;
            width: 320px;
            height: 200px;
          }
          .options {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;

            div {
              &:first-child {
                display: grid;
                place-items: center;

                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 1px solid white;
              }
              &:last-child {
                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    // .para {
    //   height: 500px;
    //   overflow: scroll;
    //   border: 5px solid steelblue;
    //   //   position: sticky;
    //   //   top: 200px;
    // }
  }
}
::-webkit-scrollbar {
  display: none;
}
